<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link th:insert="parts/scripts :: bsHead">
</head>
<body>
<div th:insert="parts/navbar :: navbar"></div>
<div class="container mt-5">
    <div th:if="${param.error}" class="mb-1">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="mb-1">
        You have been logged out.
    </div>
    <form action="/login" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> User Name : </label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control" placeholder="Имя пользователя"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" placeholder="Пароль"/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
        <a href="/registration">Регистрация</a>
    </form>
    <br>


    <div th:insert="parts/scripts :: script"></div>
</div>
</body>
</html>