<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<div>
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список сообщений</div>
<form method="get" action="main">
    <input type="text" name="filter" th:value="${filter}">
    <button type="submit">Найти</button>
</form>

<p th:each="message : ${messages}">
    <b th:text="${message.id}"></b>
    <b th:text="${message.text}"></b>
    <b th:text="${message.tag}"></b>
    <b th:text="${message.authorName}"></b>
</p>
</body>
</html>