<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link th:insert="parts/scripts :: bsHead">
</head>
<body>
<div th:insert="parts/navbar :: navbar"></div>
<div class="container mt-5">
    <!--<p th:if="${!empty message}">${message}</p>-->
    <form action="/registration" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> User Name : </label>
            <div class="col-sm-6">
                <input type="text" name="username"
                       th:class="${usernameError} ? 'form-control is-invalid' : 'form-control'"
                       placeholder="Имя пользователя"
                       th:value="${user} ? ${user.username} : ''"/>
                <div class="invalid-feedback" th:text="${usernameError}"></div>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="password" name="password"
                       th:class="${usernameError} ? 'form-control is-invalid' : 'form-control'" placeholder="Пароль"/>
                <div class="invalid-feedback" th:text="${passwordError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="password" name="passwordConf"
                       th:class="${passwordConfError} ? 'form-control is-invalid' : 'form-control'"
                       placeholder="Повторите пароль"/>
                <div class="invalid-feedback" th:text="${passwordConfError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Email: </label>
            <div class="col-sm-6">
                <input type="email" name="email"
                       th:class="${emailError} ? 'form-control is-invalid' : 'form-control'"
                       placeholder="some@some.com"
                       th:value="${user} ? ${user.email} : ''"/>
                <div class="invalid-feedback" th:text="${emailError}"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="g-recaptcha" data-sitekey="6LfrNrEZAAAAAPHfJI5bJpxLDUBbayIOmxfjbwo7"></div>
            <div th:if="${captchaError}" class="alert alert-danger" role="alert" th:text="${captchaError}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>
<div th:insert="parts/scripts :: script"></div>
</body>
</html>